/*
font-family: 'Work Sans', ;
font-family: 'Exo 2', ;
font-family: 'Julius Sans One', ;


*/

body{
margin:0px;
padding:0px;

}

html{
    scroll-behavior:;
}

.tagbox{
    width:567px;
    height:420px;
    background:rgba(3, 94, 184, 0.8);
    position:relative;
    top:80px;
    float:right;
    padding:0px;
    margin-right:20px;

}

.tagboxtext{
    width:100%;
    height:100%;
    background-image:url("hero-content.png")no-repeat;  
    background-size:contain;
    
}

.logobox{
    width:180px;
    height:80px;
    background-color:#d3d3d3;
    margin:0 auto;
    border-radius:5px;
}

.logo{
    color:#0070b2;
    font-family:'Work Sans';
    text-align:center;
    position:relative;
    top:15%;
    font-size:3em;
}



.sidenav{
    height:100%;
    width:300px;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: #0070b2;
    overflow-x: hidden;
    padding-top:20px;
    margin:0px;
}

.navlinksbox{
    margin-top:180px;
    /*background:green;*/
    height:50%;
    width:100%;
    
}

.sidenav a{
    padding: 20px 8px 20px 16px;
    text-decoration:none;
    font-size:22px;
    color:#eeecec;
    display:block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family:'Exo 2' ;
    
}

.sidenav a:hover{
    background:#ffbc6f;
    color:#0070b2;
    transition: background-color 500ms linear;
    font-weight: 700;
}

/*==========body start================*/

.main{
    margin-left:300px;
    font-size:16px;
    padding:0px;
    background:white;
    padding:0px;
}

.intro{
    width:100%;
    height:800px;
    background-color:green;
    margin:0px;
    padding:0px;
    margin-left:0x;
    background-image: url(hcnetwork-hq.JPG);
    background-size: cover;
}

.about{
    display:flex;
}

.about h1{
    font-family: 'exo 2';
    text-align:center;
    font-size: 3.5em;
    color:#0070b2;
}

.aboutcontent{
    flex:1;
    
}

.lead{
    background-color:;
    width:95%;
    display:block;
    text-align:center;
    margin:0 auto;
    font-family:'exo 2';
    font-size:1.3em;
    color:#0070b2;
    font-weight:600;
}

.leadbox{
    background-color: #d1d1d1;
    padding:20px;
    width:86%;
    margin:5px auto 0px;
    border-radius:8px;
    box-shadow: 2px 2px 5px gray;

}
/*==========section- start================*/

.sectionbox{
    width:100%;
    height:800px;
    margin:0px;
    background:;
    margin:150px auto;
    
}

.panel{
    display:flex;
    width:88%;
    height:700px;
    background-color:;
    margin:0 auto;
    box-shadow: 3px 4px 15px gray;
    
}

.textpanel{
    flex:1.5;
    background-color:#0070b2;
    
}

.paneltextbox{
    width:100%;
    height:auto;
    color:white;
    position:relative;
    top:21%;
    padding:0;
}

.panelheading{
    font-size:60px;
    font-family:'Exo 2' ;
    padding:0px;
    margin:0px;
    text-align:center;
    
}

.paneltext{
    font-size:20px;
    font-family:'Exo 2' ;
    padding:0px;
    margin:15px;
    text-align:center;
    margin:25px auto;
    width:80%;

}

.servicelist{
    width:100%;
    height:auto;
    background:;
}

.servicelist ul{
    width:50%;
    margin: auto;
    font-family:'exo 2';
    font-size:18px;
    margin-top:20px;
    list-style:;
}

.imagepanel{
    flex:1;
    background-color:black;
    background-image: url(CIO\ photo.jpg);
    background-size: cover;
     
}
.imagepanel2{
    flex:1;
    background-color:brown;
    background-image: url(classroom.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    
  
    
     
}



.imagepanel3{
    flex:1;
    background-color:brown;
    background-image: url(command-center.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    
}

.imagepanel4{
    flex:1;
    background-color:brown;
    background-image: url(data.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    
}


.imagepanel5{
    flex:1;
    background-color:brown;
    background-image: url(hosting.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    
}


.imagepanel6{
    flex:1;
    background-color:brown;
    background-image: url(ehr.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    
}

.target{
        
    width:100px;
    height:100px;
    
}

footer{ 
    width:100%;
    height:40px;
    background-color:orange;
    text-align:center;
    color:#gray;
    font-siz:.5em;
    padding:10px;
    font-family:sans-serif;
    
}

#ulnav{
    padding:0px;
    margin:0px;
}

#ulnav li{
    list-style-type:none;
    padding:0px;
    margin:0px;
}

.active{
    background:#ffbc6f;
    color:#0070b2;
    transition: background-color 500ms linear;
    font-weight: 700;
}
