html, body{
    margin:0px;
    padding:0px;

}

#container{
    width:1200px;
    height:auto;
    background-color:red;
    margin:0 auto;
    padding:0px;
    margin-top:50px;

}

#hero{
        width:100%;
        height:700px;
        background:url(..//images/bkg.jpg) no-repeat center;
        background-size:cover;
        
}

     #overlay{
            width:100%;
            height:700px;
            background-color:rgba(255,0,0,.5);
            padding-top:200px;
            
            
    }  

    #textBox{
            width:100%;
            margin:0 auto;
            text-align:center;
            
            
            
    }

    #hero-text{
            font-size:60px;
            font-family:Arial, Helvetica, sans-serif;
            color:white;
            text-shadow: 1px 2px 3px black;
    }


    #strip{
        width:1200px;
        height:130px;
        background:url('..//images/strip.jpg')no-repeat center;
        padding:0px;
    }

/*=================form*/

#form{
    width:100%;
    height:450px;
    background-color:black;
}

#form-heading{
    width:100%;
    height:auto;
    margin:0 auto;
    text-align:center;
    padding-top:50px;
    
   
}

h1{
    color:red;
    font-family:Arial, Helvetica, sans-serif;

}

h2{
    color:grey;
    font-family:Arial, Helvetica, sans-serif;
    padding:none;

}

form{
    width:30%;
    margin:0 auto;
    
   
}

input{
    margin:0 auto;
    display:block;
    padding:5px;
}

label{
    color:white;
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    margin:5px auto;
    text-align:center;
}

footer{
    width:100%;
    height:50px;
    background-color:red;
    margin-top:20px;
}

#submit{
    background-color:orange;
    border:none;
    padding:15px;
    color:black;
    width:180px;
    font-size:16px;
    display:block;
    margin-bottom:50px;
}









/*FLEXBOX============================*/

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }

.flex-container > div {
  background-color: #f1f1f1;
  width: 350px;
  height:200px;
  margin:5px;
  text-align: center;
 
}

#img-1{
    max-width:100%;
    max-height:100%;

#img-2{
    max-width:100%;
    max-height:100%;
}

#img-3{
    max-width:100%;
    max-height:100%;

#img-4{
    max-width:100%;
    max-height:100%;
}
#img-5{
    max-width:100%;
    max-height:100%x;



