body{
    background-color:;
}

#main-container{
    width:100%;
    height:500px;
    padding:0;
    margin:0;
    /*background-color:red;*/
}

#adbox{
    width:1000px;
    height:430px;
    padding:0px;
    margin:0 auto;
    margin-top:100px;
    border:10px solid orange;
    box-shadow: 0px 0px 15px gray;
    
    background-image:url('powermowersales.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    /*#faa256 url('')no-repeat center cover;*/

}
